<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/meta-info}">Meta</th:block>
</head>

<body class="add-post">

<th:block th:include="~{fragments/navbar}">Meta</th:block>

<div class="container">
    <h2 class="text-center text-white">Add Post</h2>
    <form
            th:action="@{/forum/posts/add}"
            th:method="post"
            th:object="${addPostModel}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="title" class="text-white font-weight-bold">Title</label>
            <input
                    id="title"
                    th:field="*{title}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    placeholder="Title"/>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('title')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="imageUrl" class="text-white font-weight-bold">ImageUrl</label>
            <input
                    id="imageUrl"
                    th:field="*{imageUrl}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    placeholder="ImageUrl"/>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('imageUrl')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="category">Post Category</label>
            <select
                    id="category"
                    th:field="*{category}"
                    th:errorclass="is-invalid"
                    class="form-control">
                <option value="">- Select Post Category -</option>
                <option th:each="c : ${T (bg.softuni.kickboxing.model.enums.PostCategoryEnum).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        th:selected="${c} == *{category}">
                    Post Category
                </option>
            </select>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('category')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="text-white font-weight-bold">Content</label>
            <textarea
                    id="content"
                    th:field="*{content}"
                    th:errorclass="is-invalid"
                    type="textarea"
                    class="form-control"
                    rows="5"
                    placeholder="Content">
            </textarea>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('content')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Add Post"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

</html>