<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/meta-info}">Meta</th:block>
</head>

<body class="admin">

<th:block th:include="~{fragments/navbar}">Navbar</th:block>

<th:block th:include="~{fragments/admin-buttons}">Admin Buttons</th:block>

<div class="container">
    <div class="row mt-3 border-bottom"
         th:each="p : ${posts.getContent()}">
        <div class="col">
            <div class="row">
                <div class="col mt-1">
                    <img th:src="@{${#authentication.principal.imageUrl}}" width="30" alt="profilePic">
                    <p class="text-white"
                       th:text="${p.authorUsername}">
                    </p>
                </div>
                <div class="col mt-1">
                    <a th:href="@{/forum/posts/{id}(id = ${p.id})}">
                        <p class="text-white"
                           th:text="${p.title}">
                        </p>
                    </a>
                </div>
                <div class="col mt-1">
                    <p class="text-white"
                       th:text="${p.category}">
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-3 mb-1">
            <a class="btn btn-success" type="button" th:href="@{/admin/posts/approve/{id}(id = ${p.id})}">
                Approve
            </a>
            <a class="btn btn-danger" type="button" th:href="@{/admin/posts/disapprove/{id}(id = ${p.id})}">
                Disapprove
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-1">
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item mr-auto" th:classappend="${posts.isFirst()} ? 'disabled' : ''">
                        <a th:unless="${posts.isFirst()}"
                           th:href="@{/admin/posts(size=${posts.getSize()}, page = 0)}"
                           class="btn btn-info">First
                        </a>
                        <a th:if="${posts.isFirst()}"
                           class="btn btn-info" href="">First
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item ml-auto" th:classappend="${posts.hasPrevious() ? '' : 'disabled'}">
                        <a th:if="${posts.hasPrevious()}"
                           th:href="@{/admin/posts(size=${posts.getSize()}, page = ${posts.getNumber() - 1})}"
                           class="btn btn-info">Previous
                        </a>
                        <a th:unless="${posts.hasPrevious()}"
                           class="btn btn-info" href="">Previous
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item mr-auto" th:classappend="${posts.hasNext() ? '' : 'disabled'}">
                        <a th:if="${posts.hasNext()}"
                           th:href="@{/admin/posts(size=${posts.getSize()}, page = ${posts.getNumber() + 1})}"
                           class="btn btn-info">Next
                        </a>
                        <a th:unless="${posts.hasNext()}"
                           class="btn btn-info" href="">Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item ml-auto" th:classappend="${posts.isLast()} ? 'disabled' : ''">
                        <a th:unless="${posts.isLast()}"
                           th:href="@{/admin/posts(size=${posts.getSize()}, page = ${posts.getTotalPages() - 1})}"
                           class="btn btn-info">Last
                        </a>
                        <a th:if="${posts.isLast()}"
                           class="btn btn-info" href="">Last
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>

</html>