<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/meta-info}">Meta</th:block>
</head>

<body class="forum">

<th:block th:include="~{fragments/navbar}">Navbar</th:block>

<div class="container">

    <h1 class="text-white text-center border-bottom">Welcome to the Forum Page!</h1>

    <div class="row">
        <div class="col">
            <h3 class="text-white">Search by text:</h3>
            <input
                    id="search"
                    class="form-control w-50"
                    type="search"
                    placeholder="Search...">
        </div>
        <div class="col d-flex justify-content-center">
            <a th:href="@{/forum/posts/add}">
                <button type="button" class="home-button"><span class="home-button-span"></span> Add Post</button>
            </a>
        </div>
        <div class="col">
            <h3 class="text-white text-right">Chose Category:</h3>
            <select
                    id="postCategory"
                    name="postCategory"
                    class="form-control w-50 float-right">
                <option value="">- Select Category -</option>
                <option th:each="c : ${T (bg.softuni.kickboxing.model.enums.PostCategoryEnum).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        th:selected="${c} == *{category}">
                    Post Category
                </option>
            </select>
        </div>
    </div>
</div>

<div class="container mt-1" style="background-color: #009688">
    <div class="row">
        <div class="col">
            <h4 class="text-white">Author</h4>
        </div>
        <div class="col">
            <h4 class="text-white">Title</h4>
        </div>
        <div class="col">
            <h4 class="text-white">Category</h4>
        </div>
        <div class="col">
            <h4 class="text-white">Views</h4>
        </div>
        <div class="col">
            <h4 class="text-white">Created On</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row border-bottom" th:each="p : ${posts.getContent()}">
        <div class="col mt-1">
            <img th:src="@{${p.authorImageUrl}}" width="30" alt="profilePic">
            <p class="text-white"
               th:text="${p.authorUsername}">
            </p>
        </div>
        <div class="col mt-1">
            <a th:href="@{/forum/posts/{id}(id = ${p.id})}">
                <p class="text-white"
                   th:text="${p.title}">
                </p>
            </a>
        </div>
        <div class="col mt-1">
            <p class="text-white"
               th:text="${p.category}">
            </p>
        </div>
        <div class="col mt-1">
            <p class="text-white"
               th:text="${p.views}">
            </p>
        </div>
        <div class="col mt-1">
            <p class="text-white"
               th:text="${p.formatCreatedOn()}">
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-1">
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item mr-auto" th:classappend="${posts.isFirst()} ? 'disabled' : ''">
                        <a th:unless="${posts.isFirst()}"
                           th:href="@{/forum(size=${posts.getSize()}, page = 0)}"
                           class="btn btn-info">First
                        </a>
                        <a th:if="${posts.isFirst()}"
                           class="btn btn-info" href="">First
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item ml-auto" th:classappend="${posts.hasPrevious() ? '' : 'disabled'}">
                        <a th:if="${posts.hasPrevious()}"
                           th:href="@{/forum(size=${posts.getSize()}, page = ${posts.getNumber() - 1})}"
                           class="btn btn-info">Previous
                        </a>
                        <a th:unless="${posts.hasPrevious()}"
                           class="btn btn-info" href="">Previous
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item mr-auto" th:classappend="${posts.hasNext() ? '' : 'disabled'}">
                        <a th:if="${posts.hasNext()}"
                           th:href="@{/forum(size=${posts.getSize()}, page = ${posts.getNumber() + 1})}"
                           class="btn btn-info">Next
                        </a>
                        <a th:unless="${posts.hasNext()}"
                           class="btn btn-info" href="">Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item ml-auto" th:classappend="${posts.isLast()} ? 'disabled' : ''">
                        <a th:unless="${posts.isLast()}"
                           th:href="@{/forum(size=${posts.getSize()}, page = ${posts.getTotalPages() - 1})}"
                           class="btn btn-info">Last
                        </a>
                        <a th:if="${posts.isLast()}"
                           class="btn btn-info" href="">Last
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>

</html>