<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/meta-info}">Meta</th:block>
</head>

<body class="details">

<th:block th:include="~{fragments/navbar}">Navbar</th:block>

<div class="container main-news">
    <div class="row">
        <div class="col-8"
             th:object="${news}">
            <h1 class="text-left" th:text="*{title}"></h1>

            <small class="text-left text-white mt-1" th:text="*{createdOn}"></small>

            <img class="mt-3 w-100 d-block" height="300px" th:src="@{*{imageUrl}}" alt="News Image">

            <div class="story mt-4">
                <textarea disabled
                          class="text-white text-left bg-transparent w-100 border-0 news-details-content"
                          th:text="*{content}">
                </textarea>
            </div>
        </div>
    </div>
</div>

</body>

</html>