<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/meta-info}">Meta</th:block>
</head>

<body class="profile">

<th:block th:include="~{fragments/navbar}">Navbar</th:block>

<div class="d-flex justify-content-center container mt-3">
    <div class="row w-50">
        <div class="col">

            <div class="text-center">
                <img th:src="@{${#authentication.principal.imageUrl}}" width="100" alt="Profile Picture"
                     class="rounded-circle">
            </div>

            <div class="text-center">
                <span class="btn-info rounded text-white p-1 px-2 mt-auto"
                      th:text="${#authentication.principal.getRole()}">
                </span>
            </div>

            <h3 class="text-white border-bottom mt-3">Information</h3>

            <div class="row">
                <div class="col">
                    <h4 class="text-white mt-3">Username</h4>
                    <span class="mt-2 mb-0"
                          th:text="${#authentication.principal.username}">
                    </span>
                </div>
                <div class="col">
                    <h4 class="text-white mt-3">Email</h4>
                    <span class="mt-2 mb-0"
                          th:text="${#authentication.principal.email}">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4 class="text-white mt-3">First Name</h4>
                    <span class="mt-2 mb-0"
                          th:text="${#authentication.principal.firstName}">
                    </span>
                </div>
                <div class="col">
                    <h4 class="text-white mt-3">Last Name</h4>
                    <span class="mt-2 mb-0"
                          th:text="${#authentication.principal.lastName}">
                    </span>
                </div>
            </div>

            <h3 class="text-white border-bottom mt-3">Stats</h3>

            <div class="row">
                <div class="col">
                    <h4 class="text-white mt-3">Posts</h4>
                    <span class="mt-2 mb-0"
                          th:text="${#authentication.principal.posts.size}">
                    </span>
                </div>
                <div class="col">
                    <h4 class="text-white mt-3">Comments</h4>
                    <span class="mt-2 mb-0"
                          th:text="${#authentication.principal.comments.size}">
                    </span>
                </div>
            </div>


        </div>
    </div>
</div>

</body>

</html>