<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/meta-info}">Meta</th:block>
</head>

<body class="workout-add">

<th:block th:include="~{fragments/navbar}">Meta</th:block>

<div class="container">
    <h2 class="text-center text-white">Add Workout</h2>
    <form
            th:action="@{/workouts/add}"
            th:method="post"
            th:object="${addWorkoutModel}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="title" class="text-white font-weight-bold">Title</label>
            <input
                    id="title"
                    th:field="*{title}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    placeholder="Title"/>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('title')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="text-center text-white font-weight-bold">Workout Type</label>
            <select
                    id="type"
                    th:field="*{type}"
                    th:errorclass="is-invalid"
                    class="form-control">
                <option value="">- Select Workout type -</option>
                <option th:each="t : ${T (bg.softuni.kickboxing.model.enums.WorkoutTypeEnum).values()}"
                        th:text="${t}"
                        th:value="${t}"
                        th:selected="${t} == *{type}">
                    Workout Type
                </option>
            </select>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('type')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="level" class="text-center text-white font-weight-bold">Workout Level</label>
            <select
                    id="level"
                    th:field="*{level}"
                    th:errorclass="is-invalid"
                    class="form-control">
                <option value="">- Select Workout level -</option>
                <option th:each="l : ${T (bg.softuni.kickboxing.model.enums.WorkoutLevelEnum).values()}"
                        th:text="${l}"
                        th:value="${l}"
                        th:selected="${l} == *{level}">
                    Workout level
                </option>
            </select>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('level')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="imageUrl" class="text-white font-weight-bold">ImageUrl</label>
            <input
                    id="imageUrl"
                    th:field="*{imageUrl}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    placeholder="ImageUrl"/>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('imageUrl')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="text-white font-weight-bold">Content</label>
            <textarea
                    id="content"
                    th:field="*{content}"
                    th:errorclass="is-invalid"
                    type="textarea"
                    class="form-control"
                    rows="5"
                    placeholder="Content">
            </textarea>
            <div class="invalid-feedback errors alert alert-danger">
                <p
                        th:each="err : ${#fields.errors('content')}"
                        th:text="${err}">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Add Workout"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

</html>