<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/meta-info}">Meta</th:block>
</head>

<body class="workouts">

<th:block th:include="~{fragments/navbar}">Navbar</th:block>

<th:block th:include="~{fragments/workout-buttons}">Workout Buttons</th:block>

<th:block th:include="~{fragments/workout-card-content}">Workout Card Content</th:block>

<div class="container">
    <div class="row mt-1">
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item mr-auto" th:classappend="${workouts.isFirst()} ? 'disabled' : ''">
                        <a th:unless="${workouts.isFirst()}"
                           th:href="@{/workouts/intermediate/(size=${workouts.getSize()}, page = 0)}"
                           class="btn btn-info">First
                        </a>
                        <a th:if="${workouts.isFirst()}"
                           class="btn btn-info" href="">First
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item ml-auto" th:classappend="${workouts.hasPrevious() ? '' : 'disabled'}">
                        <a th:if="${workouts.hasPrevious()}"
                           th:href="@{/workouts/intermediate/(size=${workouts.getSize()}, page = ${workouts.getNumber() - 1})}"
                           class="btn btn-info">Previous
                        </a>
                        <a th:unless="${workouts.hasPrevious()}"
                           class="btn btn-info" href="">Previous
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item mr-auto" th:classappend="${workouts.hasNext() ? '' : 'disabled'}">
                        <a th:if="${workouts.hasNext()}"
                           th:href="@{/workouts/intermediate/(size=${workouts.getSize()}, page = ${workouts.getNumber() + 1})}"
                           class="btn btn-info">Next
                        </a>
                        <a th:unless="${workouts.hasNext()}"
                           class="btn btn-info" href="">Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item ml-auto" th:classappend="${workouts.isLast()} ? 'disabled' : ''">
                        <a th:unless="${workouts.isLast()}"
                           th:href="@{/workouts/intermediate/(size=${workouts.getSize()}, page = ${workouts.getTotalPages() - 1})}"
                           class="btn btn-info">Last
                        </a>
                        <a th:if="${workouts.isLast()}"
                           class="btn btn-info" href="">Last
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>

</html>